* {
    -fx-base : -blue-grey-900;
   -fx-primary-color: -orange-700;
   -fx-primary-color-fainted: rgba(255,152,0, 0.33);
}


.root * {
    -fx-focus-color: -fx-primary-color;
    -fx-faint-focus-color: -fx-primary-color-fainted;
    -fx-accent: -fx-primary-color;
    -fx-dark-text-color: -grey-400;
    -fx-font-family: "Roboto";
    -fx-text-fill: -fx-dark-text-color; 
}

.tree-view .tree-cell, .jfx-list-view {
    -fx-background-color: -fx-base;
}

.jfx-radio-button {
    -jfx-selected-color:-fx-primary-color;
}

.jfx-toggle-button {
    -jfx-toggle-color:-fx-primary-color;
}

.date-label {
    -fx-font-size: 10px;
    -fx-text-fill: -fx-dark-text-color; 
}

.feed-subject {
    -fx-font-weight: bold;
    -fx-text-fill: -fx-dark-text-color;
}

.feed-from {
    -fx-font-size: 14px;
    -fx-text-fill: -fx-dark-text-color;
}

.feed-content {
    -fx-font-size: 12px;
}

.tree-view:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tree-view .tree-cell:selected {
    -fx-background-color: -fx-accent;
}

/*
.tree-view .tree-cell:selected .tree-cell-box {
    -fx-background-color: -fx-accent;
}
*/

.tree-cell:selected > .tree-disclosure-node > .arrow {
    -fx-background-color: #000000;
}

.tree-view .tree-cell:selected .tree-cell-label {
    -fx-text-fill: #000000;
}

.list-cell:odd {
    -fx-background-color: -fx-base;
}

.list-cell:even {
    -fx-background-color: -blue-grey-700;
}

.list-cell:selected {
    -fx-background-color: -fx-primary-color;
}

.list-cell:selected > .date-label, .feed-subject, .feed-from, .feed-content {
    -fx-text-fill: #000000;
}

.jfx-rippler {
    -jfx-rippler-fill: -fx-primary-color;
}

.hyperlink {
    -fx-font-size: 15px;
}

.menu-button {
    -fx-background-color: transparent;
}

.menu-button:hover {
    -fx-background-color: -fx-primary-color-fainted;
}

.jfx-text-area {
    -jfx-focus-color: -fx-primary-color ;
    -fx-font-size: 14px;
}

.jfx-text-field {
    -jfx-focus-color: -fx-primary-color ;
    -fx-font-size: 14px;
}


.white-bg {
    -fx-background-color: -fx-base;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0.0 0.1 0.0 0.1;
    -fx-background-color: -blue-grey-400;
}

.badge-label {
    -fx-text-fill: -grey-100;
    -fx-font-weight: bold;
    -fx-background-color: -grey-500;
    -fx-background-radius: 2.0em ;
    
}

.edit-subscription-title {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.jfx-snackbar-content {
    -fx-background-color: #323232;
    -fx-opacity : 0.7;
    -fx-padding : 10;
    -fx-font-size: 14px;
}

.jfx-snackbar-toast {
    -fx-text-fill: WHITE;   
}

.jfx-snackbar-action {
    -fx-text-fill: -light-green-500;
    -fx-margin : 0 10 0 0;
    -fx-background-color: #323232;
}

#progressBar > .bar {
    -fx-background-color : -fx-primary-color;
    -fx-pref-height : 6;
}

.webViewProgress > .bar {
    -fx-background-color : -fx-primary-color;
    -fx-pref-height : 6;
}

#grid {
    -fx-background-color: -blue-grey-900;
}

.gridCell {
    -fx-background-color: -grey-50;
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.6) , 8 , 0.0 , 1 , 2 );
    -fx-padding:5px;
}

.gridCell:hover {
    -fx-border-color: -grey-50;
    -fx-border-width: 2px;
    -fx-effect: null;
}

.plusButton {
    -fx-background-color: -blue-grey-900;
}

.settings-subtitle {
    -fx-font-size : 16px;
    -fx-font-family: "Roboto Medium";
    -fx-font-weight : bold;
}

.generic-button {
    -fx-background-color: transparent;
    -jfx-button-type: FLAT;
    -fx-font-weight : bold;
    -fx-font-size : 16px;
    -fx-font-family: "Roboto Medium";
}

.jfx-button > .jfx-rippler {
    -jfx-rippler-fill:  -orange-400;
    
}

.generic-button:hover {
    -fx-background-color: -orange-200;
}

.text-bigger {
    -fx-font-size : 16px;
}

.deletable-content {
    -fx-font-size : 16px;
    -fx-text-fill: black;
}

.deletable-box {
    -fx-background-color: -orange-100;
    -fx-opacity : 0.7;
    -fx-background-radius : 10 10 10 10;
    -fx-padding : 0 5 0 5;
}

.app-title {
    -fx-font-size : 20px;
    -fx-font-family: "Roboto Bold";
}