* {
    -fx-base : -blue-grey-900;
   -fx-primary-color: -orange-700;
   -fx-primary-color-fainted: rgba(255,152,0, 0.33);
}


.root * {
    -fx-focus-color: -fx-primary-color;
    -fx-faint-focus-color: -fx-primary-color-fainted;
    -fx-accent: -fx-primary-color;
    -fx-dark-text-color: -grey-400;
    -fx-dark-text-read-color: -grey-600;
    -fx-font-family: "Roboto";
    -fx-text-fill: -fx-dark-text-color;
}

.tree-view .tree-cell, .jfx-list-view {
    -fx-background-color: -fx-base;
}

.context-menu {
    -fx-background-color: -fx-base;
}

.menu-item .label {
    -fx-font-size: 16px;
}

.menu-item:focused .label {
    -fx-text-fill: black;
}

.jfx-radio-button {
    -jfx-selected-color:-fx-primary-color;
}

.jfx-toggle-button {
    -jfx-toggle-color:-fx-primary-color;
}

.date-label {
    -fx-font-size: 10px;
    -fx-text-fill: -fx-dark-text-color; 
}

.feed-subject {
    -fx-font-weight: bold;
    -fx-text-fill: -fx-dark-text-color;
}

.feed-from {
    -fx-font-size: 14px;
    -fx-text-fill: -fx-dark-text-color;
}

.feed-content {
    -fx-font-size: 12px;
}

.tree-view:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tree-view .tree-cell:selected {
    -fx-background-color: -fx-accent;
}

.tree-cell:selected > .tree-disclosure-node > .arrow {
    -fx-background-color: #000000;
}

.tree-view .tree-cell:selected .tree-cell-label {
    -fx-text-fill: #000000;
}

.readable-cell:focused:selected:read {
    -fx-background-color: -fx-primary-color;
}

.readable-cell:read:selected {
    -fx-background-color: -fx-primary-color;
}

.readable-cell:selected {
    -fx-background-color: -fx-primary-color;
}

.list-cell:selected {
    -fx-background-color: -fx-primary-color;
}

.list-cell:odd:selected {
    -fx-background-color: -fx-primary-color;
}

.list-cell:even:selected {
    -fx-background-color: -fx-primary-color;
}

.list-cell:odd {
    -fx-background-color: -fx-base;
}

.list-cell:even {
    -fx-background-color: -blue-grey-800;
}

.list-cell:selected  * {
    -fx-text-fill: #000000;
}

.readable-cell:read {
    -fx-text-fill: -fx-dark-text-read-color;
}

.readable-cell {
    -fx-text-fill: -fx-dark-text-color;
}

.readable-cell * {
    -fx-text-fill: -fx-dark-text-color;
}

.readable-cell:read .date-label {
    -fx-text-fill: -fx-dark-text-read-color;
}

.readable-cell:read .feed-from {
    -fx-text-fill: -fx-dark-text-read-color;
}

.readable-cell:read .feed-content {
    -fx-text-fill: -fx-dark-text-read-color;
}

.readable-cell:read .feed-subject {
    -fx-text-fill: -fx-dark-text-read-color;
}

.jfx-rippler {
    -jfx-rippler-fill: -fx-primary-color;
}

.hyperlink {
    -fx-font-size: 15px;
}

.menu-button {
    -fx-background-color: transparent;
}

.menu-button:hover {
    -fx-background-color: -fx-primary-color-fainted;
}

.jfx-text-area, .jfx-text-area:focused {
    -jfx-focus-color: -fx-primary-color ;
    -fx-font-size: 14px;
    -jfx-unfocus-color:derive(-fx-primary-color,10%);
}

.jfx-text-field, .jfx-text-field:focused {
    -jfx-focus-color: -fx-primary-color ;
    -fx-font-size: 14px;
    -jfx-unfocus-color:derive(-fx-primary-color,10%);
    -fx-text-fill: -fx-dark-text-color;
}

.jfx-password-field, .jfx-password-field:focused {
    -jfx-focus-color: -fx-primary-color ;
    -fx-font-size: 14px;
    -jfx-unfocus-color:derive(-fx-primary-color,10%);
    -fx-text-fill: -fx-dark-text-color;
}


.text-field, .text-field:focused {
    -fx-text-fill: black;
}

.white-bg {
    -fx-background-color: -fx-base;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0.0 0.1 0.0 0.1;
    -fx-background-color: -blue-grey-400;
}

.badge-label {
    -fx-text-fill: -fx-base;
    -fx-font-weight: bold;
    -fx-background-color: -grey-500;
    -fx-background-radius: 2.0em ;
    
}

.edit-subscription-title {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.jfx-snackbar-content {
    -fx-background-color: #323232;
    -fx-opacity : 0.7;
    -fx-padding : 10;
    -fx-font-size: 14px;
}

.jfx-snackbar-toast {
    -fx-text-fill: WHITE;   
}

.jfx-snackbar-action {
    -fx-text-fill: -fx-primary-color;
    -fx-margin : 0 10 0 0;
    -fx-background-color: #323232;
}

#progressBar > .bar {
    -fx-background-color : -fx-primary-color;
    -fx-pref-height : 6;
}

.webViewProgress > .bar {
    -fx-background-color : -fx-primary-color;
    -fx-pref-height : 6;
}

#grid {
    -fx-background-color: -fx-base;
}

.gridCell {
    -fx-background-color: -fx-base;
    -fx-effect: dropshadow( one-pass-box , rgba(1,1,1,0.6) , 8 , 0.0 , 1 , 2 );
    -fx-padding:5px;
}

.gridCell:hover {
    -fx-border-color: -blue-grey-700;
    -fx-border-width: 2px;
    -fx-effect: null;
}

.plusButton {
    -fx-background-color: -fx-base;
}

.settings-subtitle {
    -fx-font-size : 16px;
    -fx-font-family: "Roboto Medium";
    -fx-font-weight : bold;
}

.generic-button {
    -fx-background-color: transparent;
    -jfx-button-type: FLAT;
    -fx-font-weight : bold;
    -fx-font-size : 16px;
    -fx-font-family: "Roboto Medium";
}

.jfx-button > .jfx-rippler {
    -jfx-rippler-fill:  -orange-400;
    
}

.generic-button:hover {
    -fx-background-color: -orange-200;
}

.toolbar-button {
    -fx-background-color: transparent;
    -jfx-button-type: FLAT;
    -fx-font-weight : bold;
    -fx-font-size : 16px;
    -fx-font-family: "Roboto Medium";
}

.toolbar-button:hover {
    -fx-background-color: -fx-primary-color-fainted;
}

.text-bigger {
    -fx-font-size : 16px;
}

.deletable-content {
    -fx-font-size : 16px;
    -fx-text-fill: black;
}

.deletable-box {
    -fx-background-color: -orange-100;
    -fx-opacity : 0.7;
    -fx-background-radius : 10 10 10 10;
    -fx-padding : 0 5 0 5;
}

.app-title {
    -fx-font-size : 20px;
    -fx-font-family: "Roboto Bold";
}

.plus-icon {
    -fx-fill: -fx-dark-text-color;
}

.plus-icon:hover {
    -fx-fill: -fx-focus-color;
}

.base-background {
    -fx-background-color: -fx-base;
}

.primary-fill {
    -fx-fill: -fx-focus-color;
}

.gray-600-fill {
    -fx-fill: -fx-dark-text-read-color;
}

.deletable-cross {
    -fx-fill: -fx-focus-color;
}

.deletable-cross:hover {
    -fx-fill: -fx-dark-text-color;
}

.bigger-icon {
    -glyph-size: 20;
}

.bigger-menu-text .label {
    -fx-font-size : 16px;
}

.jfx-combo-box .list-cell:selected {
    -fx-text-fill: black;
}
