.split-pane *.split-pane-divider {
    -fx-padding: 0.0 0.1 0.0 0.1;
}

.badge-label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: #aaaaaa;
    -fx-background-radius: 2.0em ;
    
}

.edit-subscription-title {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.jfx-snackbar-content {
    -fx-background-color: #323232;
    -fx-opacity : 0.7;
    -fx-padding : 10;
    -fx-font-size: 14px;
}

.jfx-snackbar-toast {
    -fx-text-fill: WHITE;   
}

.jfx-snackbar-action {
    -fx-text-fill: #00ff00;
    -fx-margin : 0 10 0 0;
    -fx-background-color: #323232;
}

#progressBar > .bar {
    -fx-background-color : #dda0dd;
}

.webViewProgress > .bar {
    -fx-background-color : #00ff7f;
    -fx-pref-height : 5;
}

#grid {
    -fx-background-color: #eeeeee;
}

.gridCell {
    -fx-background-color: #fafafa;
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.6) , 8 , 0.0 , 1 , 2 );
    -fx-padding:5px;
}

.gridCell:hover {
    -fx-border-color: #fafafa;
    -fx-border-width: 2px;
    -fx-effect: null;
}

.plusButton {
    -fx-background-color: #ffffff;
}
