[Desktop Entry]
Name=lecter
Comment=rss feeds reader
Exec=lecter.wrapper
Icon=lecter
Terminal=false
Type=Application
Categories=Utility;
StartupWMClass=me.bayang.reader.FXMain
